  @font-face {
    font-family: LuicidaGrandeRegular;
    src: url(./assets/LucidaGrande.ttf);
  }
  @font-face {
    font-family: LuicidaGrandeBold;
    src: url(./assets/LucidaGrandeBold.ttf);
  }
  .ff-luicida-regular{
    font-family: LuicidaGrandeRegular;
  }
  .ff-luicida-bold{
    font-family: LuicidaGrandeBold;
  }
  .flip-book {
    box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.5);
    display: none;
    background-size: cover;
    background: white;
  }
  a{
    text-decoration: none;
  }
  .page {
    padding: 20px;
    background-color: #fdfaf7;
    color: #785e3a;
    border: solid 1px #c2b5a3;
    overflow: hidden;
  }
  @media (max-width: 500px) {
    .page {
     padding: 15px;
    }
    
  }
  .page .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-family: "Black Han Sans", sans-serif;
    color: #004643;
    font-size: 24px;
    letter-spacing: 1.4px;
  }
  .page .page-content .page-header {
    /* height: 30px; */
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    /* line-height: 1  ; */
    color: #004643;
    font-family: "Black Han Sans", sans-serif;
  }
  @media (max-width: 500px) {
    .page .page-content .page-header {
      font-size: 17px;
    }
    
  }
  .tip-header{
    font-family: "Black Han Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #004643;
  }
  @media (max-width: 500px) {
    .tip-header {
      font-size: 16px;
    }
    
  }
  .page .page-content .page-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  .page .page-content .page-text {
    height: 100%;
    flex-grow: 1;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
     border-top: solid 2px #004643; 
    /* box-shadow: 6px 6px 0 0 #004643; */
    font-size: 15px;
    font-weight: 500;
    color: #8f7100;
    font-family: "Roboto Slab" , serif;
    overflow-y: auto;
  }
  @media (max-width: 500px) {
    .page .page-content .page-text {
      font-size: 12px;
      border-top: solid 1px #004643; 
      margin-top: 5px;
    }
    
  }
  .page .page-content .page-footer {
    height: 30px;
    border-top: solid 1px #f4e8d7;
    font-size: 80%;
    color: #998466;
    font-weight: 400;
    font-size: 15px;
  }
  .page.--left {
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    background-color: #ffffeb;
  }
  .page.--right {
    border-left: 0;
    box-shadow: inset 5px 0 7px 0px rgba(0, 0, 0, 0.4)
    /* background-color: #fffdcb; */
  }
  @media (max-width: 500px) {
    .page.--right {
      box-shadow: inset 0px 0 3px 0px rgba(0, 0, 0, 0.4)
    }
    
  }
  .page.--right .page-footer {
    text-align: right;
  }
  .page.hard {
    background-color: #f2e8d9;
    border: solid 1px #998466;
  }
  .page.page-cover {
    /* background-color: #e3d0b5; */
    color: #785e3a;
    border: solid 1px #998466;
  }
  .page.page-cover h2 {
    text-align: center;
    padding-top: 50%;
    font-size: 210%;
  }
  .page.page-cover.page-cover-top {
    box-shadow: inset 0px 0 10px 0px rgba(36, 10, 3, 0.5), 2px 0 5px 2px rgba(0, 0, 0, 0.4);
  }
  .page.page-cover.page-cover-bottom {
    box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
  }


  /* others */

  .border-light-1{
    border: 2px solid #D1AC00 ;
  }
  .border-light-2{
    border: 2px solid #004643 ;
  }
  .border-light-3{
    border: 2px solid #981D00 ;
  }
  .border-light-4{
    border: 2px solid #F2994A ;
  }
  .border-light-5{
    border: 2px solid #412531 ;
  }
  .bg{
    background-image:  url(./assets/images/book-images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 30px 10px;
  }
  @media (max-width: 500px) {
    .buttons  {
    
     gap: 20px;
    }
    
  }
  .btn-prev, .btn-next, .btn-home {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F2994A;
    color: #fff;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 6px 6px 0 0 #981D00;
    border-radius: 10px;
    transition: all .3s;
  }
  @media (max-width: 500px) {
    .btn-prev, .btn-next  {
     font-size: 15px;
     padding: 10px 15px;
     gap: 5px;
    }
    
  }
  .btn-prev:hover , .btn-next:hover, .btn-home:hover{
    background-color: #981D00;
    box-shadow: 6px 6px 0 0 #241100d6;
  }
  button{
    border: none;
  }
  .cover-img-top{
    position: absolute;
    top: 0;
    width: 30%;
  }
  .cover-img-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
  }
  p{
    margin-bottom: 5px !important;
  }

  @media (max-width:991px) {
    .book-title{

        font-size: 24px !important;
    }
    .book-title-sub{
      font-size: 16px;
    }
    
  }



